/* header.component.css */

.custom-navbar {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: relative;
    text-decoration: none; /* Add this for consistent styling */
    transition: color 0.3s ease;
}

.logo:hover {
    color: #4322ff; /* Change the color on hover */
}
.logo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    background-color: #4322ff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.logo:hover::before {
    transform: scaleX(1);
}

.spacer {
    flex: 1;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a,
.user-info a,
.auth-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links a:hover,
.user-info a:hover,
.auth-links a:hover {
    color: #4322ff;
}

/* Add this for the underline effect */
.nav-links a::before,
.user-info a::before,
.auth-links a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    background-color: #4322ff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.nav-links a:hover::before,
.user-info a:hover::before,
.auth-links a:hover::before {
    transform: scaleX(1);
}

button[mat-button] {
    text-transform: uppercase;
    font-weight: bold;
}
