<mat-toolbar class="custom-navbar">
  <!-- Display the logo on the left -->
  <a class="logo" routerLink="/">Noff</a>

  <!-- Spacer to push elements to the right -->
  <span class="spacer"></span>

  <!-- Display navigation links -->
  <nav class="nav-links">
    <a routerLink="/">Home</a>
    <a routerLink="/todo">Todo</a>

    <!-- Display user info if user is logged in -->
    <span *ngIf="isLoggedIn$ | async" class="user-info">
      <a routerLink="/profile">{{ username }}</a>
      <a (click)="logout()">Logout</a>
    </span>

    <!-- Display register/login links if user is not logged in -->
    <span *ngIf="!(isLoggedIn$ | async)" class="auth-links">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </span>
  </nav>
</mat-toolbar>
