<div class="body">
    <app-header></app-header>

    <div class="container-fluid">
        <div class="row">
            <div class=" col-md-2 left-div">
                <mat-card class="mt-3 form-color"> </mat-card>
                <app-timer></app-timer>
            </div>
            <div class="col-md-10 test">
                <div>
                    <div class="tasks-list" cdkDropList cdkDropListOrientation="horizontal" cdkDropListGroup
                        [cdkDropListData]="categories" (cdkDropListDropped)="dropCategory($event)">
                        <!-- Loop through each category -->
                        <div class="tasks-container" *ngFor="let category of categories" cdkDrag>
                            <!-- Display the category name -->
                            <div class="name-wrapper">
                                <ng-container *ngIf="!category.isEditing">
                                    <h2 cdkDragHandle (click)="category.isEditing = true">{{ category.name }}</h2>
                                </ng-container>
                                <ng-container *ngIf="category.isEditing">
                                    <form>
                                        <input type="text" [(ngModel)]="category.name" name="categoryName"
                                            (keydown.enter)="editCategory(category)"
                                            (focusout)="editCategory(category)" />
                                    </form>
                                </ng-container>
                                <button class="delete-btn" (click)="deleteCategory(category)">X</button>
                            </div>
                            <div class="example-container">
                                <div cdkDropList [cdkDropListData]="category.task" class="example-list"
                                    (cdkDropListDropped)="drop($event)">
                                    <!-- Loop through tasks within the category -->
                                    <div class="example-box" *ngFor="let item of category.task; let i = index" cdkDrag
                                        (contextmenu)="openContextMenu($event, item)"
                                        (mousedown)="setContextMenuPosition($event)">
                                        <div class="title">
                                            {{ item.title }}
                                        </div>
                                        <div class="due-date" *ngIf="item.due_date">
                                            <!-- add a timer icon -->
                                            <i class="far fa-clock"></i>
                                            {{ item.due_date }}
                                        </div>
                                    </div>
                                </div>
                                <button class="add-task-btn" (click)="createTask(category.name)">
                                    <i class="fas fa-plus"></i> Add task
                                </button>
                            </div>
                        </div>
                        <div class="add-new-category">
                            <input type="text" placeholder="Add new category" [(ngModel)]="newCategoryName"
                                (keyup.enter)="createCategory()">
                            <button class="add-task-btn" (click)="createCategory()">
                                <i class="fas fa-plus"></i> Add category
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Context menu -->
    <div *ngIf="contextMenuTask" class="context-menu" [style.left.px]="contextMenuX" [style.top.px]="contextMenuY">
        <div class="option" (click)="openEditDialog(contextMenuTask)">Edit</div>
        <div class="option" (click)="deleteTask(contextMenuTask)">Delete</div>
    </div>
</div>