
.body{
    min-height: 100vh;
    background: #222;
    overflow: hidden;
  }
  
  .body::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #f0d32f;
    left: 15%;
    top: 20%;
    filter: blur(150px);
    pointer-events: none;
  }
  
  .body::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #cd2272;
    left: 80%;
    top: 80%;
    filter: blur(150px);
    pointer-events: none;
  }
  
:host .mat-form-field {
    width: 100%;
}

.tasks-container h2 {
    font-size: 20px;
    text-align: center;
}

.left-div {
    background: #1b1b1b;
    height: 91vh;
    border-radius: 10px;
    /* width: 15%; */
}

.form-color {
    background: #1b1b1b;
    border-radius: 10px;
    color: white;
    width: auto;
}

.example-container {
    /* border: solid 1px #3f51b5; */
    border-radius: 4px;
    background: #161616;
    width: 300px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
}

.example-list {
    min-height: 30px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.example-box {
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 12px;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10px;
    background-color: #3b3b3b;
    color: #fff;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 13px;
    height: auto;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
}

.container-fluid {
    display: flex;
    flex-direction: column;

    background-color: #222;
    color: #fff;
}

.mat-card {
    background-color: #333;
}

.mat-form-field {
    background-color: #444;
    color: #fff;
}

.mat-form-field-underline {
    background-color: #fff;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #fff;
}

.mat-hint {
    color: #ccc;
}

.mat-card {
    background-color: #333;
    padding: 8px;
    margin-bottom: 8px;
}

.example-box .box {
    color: #fff;
}

h2 {
    color: #fff;
}

.context-menu {
    position: absolute;
    background-color: #212121;
    color: white;
    /* padding: 8px; */
    width: 100px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
}

.context-menu .option {
    cursor: pointer;
    padding: 8px;
}

.context-menu .option:hover {
    background-color: #505050;
    border-radius: 5px;
}

.bottom-screen {
    margin-top: auto;
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
    color: #333;
}

/* add task buttons */
.add-task-btn{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    width: 96%;
    padding: 5px;
    margin: 2%;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.add-task-btn:hover{
    background-color: #2b2a2a;
    color: #ffffff;
}
/* align the task container into a row */
.tasks-list{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: left;
    min-width: 1000px;
}
/* task container for all the tasks */
.tasks-container{
    color: #fff;
    border-radius: 5px;
    width: 96%;
    padding: 5px;
    margin: 2%;
    cursor: pointer;
    width: 200px;
    background-color: #16161655;
    border: 2px solid #161616ff;
    
}

.title{
    font-size: 16px;
    color: #fff;
}

.due-date{
    font-size: 14px;
    color: #fff;
    margin-top: 5px;
}
.add-new-category{
    border-radius: 4px;
    background: #161616;
    width: 300px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    width: 200px;
    min-width: 200px;
    height: 100%;
    margin-top: 50px;
}
.add-new-category input{
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 90%;
    background: #ffffff23;
    border: none;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.add-new-category input::placeholder{
    color: #bdbdbd;
}
.test{
    overflow-x: auto; /* or overflow-x: scroll; */
}
.test::-webkit-scrollbar {
    height: 12px;
    background-color: transparent;
}

.test::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.test::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


/* @media screen and (max-width: 980px) {
    .left-div {
        width: 200px;
    }

    .col-md-9 {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .container-fluid {
        display: flex;
        flex-direction: row;
        min-height: 100vh;
        height: auto;
        width: 100%;
    }
    .left-div {
        width: 100%;
        height: auto;
    }

    .col-md-9 {
        margin-top: 20px;
    }
    .example-container {
        width: 100%;
    }
} */
