/* Pomodoro Timer Component */
.pomodoro-timer {
    text-align: center;
}

.pomodoro-timer .title {
    font-size: 24px;
    margin-bottom: 10px;
}

.pomodoro-timer .timer {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pomodoro-timer .controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* Timer Buttons */
.pomodoro-timer button {
    font-size: 18px;
    min-width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease, transform 0.2s ease;
    color: #fff;
    border: none;
}

.pomodoro-timer button mat-icon {
    font-size: 24px;
}

.pomodoro-timer button {
    background-color: #222;
}

.pomodoro-timer button:hover {
    background-color: #444;
}

.share-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.share-div > * {
    margin-bottom: 10px;
}
.share-div input{
    width: 100%;
    padding: 5px;
    border: 1px solid #444;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    outline: none;
    background-color: transparent;
}