<div class="pomodoro-timer">
  <h2 class="title">{{ timerTitle }}</h2>
  <div class="timer">{{ minutes }}:{{ seconds | number: '2.0' }}</div>
  <div class="controls">
    <div *ngIf="!isTimerRunning">
      <button class="start-button" (click)="startTimer()">
        <i class="fa-solid fa-play"></i>
      </button>
    </div>
    <div *ngIf="isTimerRunning">
      <button class="pause-button" (click)="pauseTimer()">
        <i class="fa-solid fa-pause"></i>
      </button>
    </div>
    <button class="reset-button" (click)="resetTimer()">
      <i class="fa-solid fa-undo"></i>
    </button>
    <button class="edit-button" (click)="openEditDialog()">
      <i class="fa-sharp fa-solid fa-gear"></i>
    </button>
  </div>
</div>