<div class="pomodoro-timer">
    <h2 class="title">{{ timerTitle }}</h2>
    <div class="timer">{{ minutes }}:{{ seconds | number : "2.0" }}</div>
    <div class="controls">
        <div *ngIf="!isTimerRunning">
            <button class="start-button" (click)="startTimer()">
                <i class="fa-solid fa-play"></i>
            </button>
        </div>
        <div *ngIf="isTimerRunning">
            <button class="pause-button" (click)="pauseTimer()">
                <i class="fa-solid fa-pause"></i>
            </button>
        </div>
        <button class="reset-button" (click)="resetTimer()">
            <i class="fa-solid fa-undo"></i>
        </button>
        <button class="edit-button" (click)="openEditDialog()">
            <i class="fa-sharp fa-solid fa-gear"></i>
        </button>
    </div>
    <div class="share-div" *ngIf="!room">
        <!-- Add this button to generate a sharing code -->
        <button (click)="generateShareCode()">Generate Share Code</button>

        <!-- Add this field to input the share code -->
        <input [(ngModel)]="shareCode" placeholder="Enter Share Code" />
        <button (click)="connectWithCode()">Connect</button>
    </div>
    <div class="share-div" *ngIf="room">
        <p>Connected to room {{ room }}</p>
        <button (click)="disconnect()">Disconnect</button>
    </div>
</div>
