<div class="body">
  <app-header></app-header>
  <div *ngIf="isConnected === false" class="container">
    <h1>Welcome to Noff</h1>
    <p>Unlock your full potential with Noff, the ultimate study partner. With Noff, you can:</p>
    <ul>
      <li>Share a Pomodoro timer with your study group.</li>
      <li>Customize the Pomodoro timer settings to match your preferences.</li>
      <li>Create new, custom to-do lists for all your tasks.</li>
    </ul>
    <a (click)="redd()">Get Started</a>
  </div>
</div>