.body {
    min-height: 100vh;
    padding: 0 10px;
    background: #222;
    overflow: hidden;
    position: relative;
}

.body::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #f02f2f;
    left: 15%;
    top: 20%;
    filter: blur(120px);
    pointer-events: none;
}

.body::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #cd8922;
    left: 80%;
    top: 80%;
    filter: blur(120px);
    pointer-events: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
}
.profile-form {
    width: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-form label {
    font-weight: bold;
}

.profile-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 3px;
}

.profile-form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.profile-form input:focus {
    outline: none;
    border: 1px solid white;
}

.form-group {
    width: 100%;
}

.chart-container {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 80%;
}

.tab-navigation {
    padding: 10px 0;
}

.tab-navigation ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.tab-navigation li {
    margin: 0 10px;
    display: inline;
}

.tab-navigation a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
}

.tab-navigation .active a {
    background: #555;
}

.settings {
    display: flex;
    flex-direction: column;
}
.btn {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
}
